.header{
	padding: 0px;
	border: 0px;
	padding-top: 50px;
	padding-bottom: 10px;
	background: black;
	color: white;
	height: 25px;
	border-bottom: 1px solid #cccc00;
}

.header h1{
	position: absolute;
	top: 50px;
	left: 260px;
	transform: translate(-50%, -50%);
	color: #ffff06;
	padding: 0px;
	margin: 0px;
	border: 0px;
	text-align: right;
	font-weight: bold;
	font-size: 50px;
}

#logo
{
	position: absolute;
	top: 1px;
	left: 10px;
}

.icon
{
	cursor: pointer;
}

.textArea
{
	position: absolute;
	top: 300px;
	left: 100px;
	height: 35px;
	width: 300px;
	background:none;
	border: 1px solid #7cf481;
	color: #7cf481;
}

::placeholder
{
	color: yellow;
}


#coolStuff
{
	position: absolute;
	left: 100px;
	top: 150px;
}

#line
{
	color: #7cf481;
}

#byline
{
	color: #eded4b;;
}

.locButton
{
	position: absolute;
	top: 300px;
	left: 410px;
	height: 39px;
	background: black;
	border: 2px solid #000000;
	cursor: pointer;
	font-size: 18px;
	color: #ffff84;
}

.locButton:hover
{
	border: 2px solid white;
}

.foodButton
{
	position: absolute;
	background : black;
	top: 300px;
	left: 500px;
	height: 39px;
	border: 2px solid black;
	cursor: pointer;
	font-size : 18px;
	color: #ffff84;
}

.foodButton:hover
{
	border: 2px solid white;
}

.images
{
	position: absolute;
	left: 1000px;
	transform: translate(-50%, -50%);
}

body
{
	background-image:url("mainPagePicture2.jpg");
	padding: 0px;
	border: 0px;
	margin: 0px;
	height: 750px;
	background-size: 100% 100%;
}

#about
{
	position: absolute;
	top: 50px;
	left: 1250px;
	cursor: pointer;
	transform: translate(-50%, -50%);
	color: #7cf481;
	padding: 0px;
	margin: 0px; 
	border: 0px;
	text-align: right;
}

#fback
{
	position: absolute;
	top: 50px;
	left: 1175px;
	transform: translate(-50%, -50%);
	color: #7cf481;
	padding: 0px;
	margin: 0px;
	border: 0px;
	text-align: right;
	cursor: pointer;
}

#bar
{
	position: absolute;
	top: 49px;
	left: 1220px;
	transform: translate(-50%, -50%);
	padding: 0px;
	margin: 0px;
	border: 0px;
	color: #cccc00;
}

.loginbtn
{
	position: absolute;
	top: 50px;
	left: 1350px;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 30px;
	background-color: black;
	color: #00ff00;
	font-size: 20px;
	border: none;
	cursor: pointer;
}

.signupbtn
{
	position: absolute;
	top: 50px;
	left:  1460px;
	width: 100px;
	height: 30px;
	transform: translate(-50%, -50%);
	background-color: #00ff00;
	color: black;
	font-size: 20px;
	border: none;
	cursor: pointer;
}
#video
{
	position: absolute;
	border: 0;
	padding: 0;
	margin: 0;
	left: 1125px;
	top: 55px;
}