body{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	background-image:url("mainPagePicture2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: #cccc00;
}

html
{
	height: 100%;
}

::placeholder{
	color: #cccc00;
}

.loginPart
{
	width: 280px;
	position: absolute;
	top: 20%;
	left: 85%;
	transform: translate(-50%, -50%);
	color: white;
}

.loginPart h1{
	float: center;
	color: yellow;
	font-size: 40px;
	width: 110px;
	margin-bottom: 20px;
	border-bottom: 6px solid #4caf50;
	padding: 13px 0;
}

.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding-bottom: 8px;
	margin-bottom: 8px 0;
}

.textbox input{
	border: none;
	outline: none;
	color: yellow;
	background: none;
	width: 85px;
	float: left;
	font-size: 18px;
	border-bottom: 2px solid #4caf50;
}

.button{
	width: 40%;
	background: none;
	border : 2px solid #4caf50;
	color: yellow;
	cursor: pointer;
}

.regLink{
	position: absolute;
	left: 76%;
	top: 35%;
}

a{
	color: yellow;
}